/*font-family: 'Ewert', cursive;*/
/*font-family: 'Josefin Sans', sans-serif;*/

body {
	font-family: 'Josefin Sans';
  color: #FFEE00;
  background: #420600 url('img/tweed.png') repeat;
}

a {
  color: #FFEE00;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.750em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.500em;
  color: #B4C34F;
}

.btn {
  color: #FFEE00;
  background: #38B2CE url('img/texture.png') no-repeat right top;
  padding: 1.5% 3%;
  margin: 4% 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #015367;
  transform: scale(2,4);
  -ms-transform: scale(2,4); /* IE 9 */
  -webkit-transform: scale(2,4); /* Safari and Chrome */
}

#cohort {
  font-family: 'Ewert', cursive;
  color: #38B2CE;
  font-size: 3.125em;
  float: left;
  margin: 12% 0 0 0;
  text-shadow: 5px 5px #000000;
}

ul.nav {
  margin: 2% 0 0 0;
  list-style: none;
  float: right;
  width: 100%;
}

ul.nav li {
  float: right;
  margin-right: 4%;
}

ul.nav li a {
  color: #FFEE00;
}

#intro {
  margin: 5% 0 7.5% 0;
}

#quirk img {
  border: 4px solid #38B2CE;
  margin: 0 0 2% 0;
}

#quirk h2 {
  color: #38B2CE;
}

#love h2 {
  color: #38B2CE;
}

#love img {
  border: 4px solid #38B2CE;
}

#headshot {
  border-radius: 50%;
  border: 4px solid #38B2CE;
}

#copyright {
  border-top: 4px solid #FFEE00;
  padding: 1% 0px;
  margin: 15px 0px;
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto;
}

/*media queries*/

/* iPhone --------------*/
@media screen and (max-width: 480px) {

    .grid_1,  
    .grid_2,
    .grid_3, 
    .grid_4, 
    .grid_5, 
    .grid_6, 
    .grid_7, 
    .grid_8, 
    .grid_9, 
    .grid_10, 
    .grid_11,
    .grid_12 {
      width: 100%;
    }

    #intro, #headshot, h1 {
      display: none;
    }

    ul.nav li {
      float:left;
      margin: 3% 0 3% 10%;
    }
}

@media screen and (max-width: 1024px) {

}






















